@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



// input and button mixin

@mixin input {
    width: 30em;
    padding: $normal;
    margin: $normal 0;
    border-radius: $big;
    outline: none;
    border: 1px solid black;
}

@mixin text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}


@mixin tab {
    @media (max-width: #{$tab}) {
        @content;
    }
}

@mixin big-phone {
    @media (max-width: #{$big-phone}) {
        @content;
    }
}

@mixin small-phone {
    @media (max-width: #{$small-phone}) {
        @content;
    }
}