@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



// input and button mixin

@mixin input {
    width: 30em;
    padding: $normal;
    margin: $normal 0;
    border-radius: $big;
    outline: none;
    border: 1px solid black;
}

@mixin text {
    position: absolute;
    color: white;
    text-align: center;
    margin: 0 $small;
    font-weight: bolder;
    font-size: $extra;
    font-family: 'Alfa Slab One', cursive;
    -webkit-text-stroke: 1px black;
    word-wrap: break-word;
    // left: -50%;
    // right: -50%;
}

@mixin tab {
    @media (max-width: #{$tab}) {
        @content;
    }
}

@mixin big-phone {
    @media (max-width: #{$big-phone}) {
        @content;
    }
}

@mixin small-phone {
    @media (max-width: #{$small-phone}) {
        @content;
    }
}